<div class="row titles">
  <div class="col-2 offset-1 align-self-end">
    <img src="assets/images/myprojects.png" alt="My projects"/>
  </div>
  <div class="col-9 screenTitle">
    <img src="assets/images/openproject.png" alt="Open project"/>
  </div>
</div>
<div class="row projects">
  <div class="col-10 offset-1">
    <div class="row">
      <div *ngFor="let project of myProjects; trackBy: trackByProjectFn" class="project col-2">
        <div class="card">
          <img class="card-img-top img-thumbnail" *ngIf="project.thumbnailBase64Encoding" src="{{project.thumbnailBase64Encoding}}" alt="Project thumbnail">
          <img class="card-img-top img-thumbnail" *ngIf="!project.thumbnailBase64Encoding" src="assets/images/empty_thumbnail.png" alt="Project thumbnail">
          <app-state [state]="project.state"></app-state>
          <div class="card-body">
            <p>
              <a [routerLink]="['/project', project.id]">{{project.name}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row titles">
  <div class="col-2 offset-1 align-self-end">
    <img src="assets/images/assignedprojects.png" alt="My projects"/>
  </div>
</div>
<div class="row projects">
  <div class="col-10 offset-1">
    <div class="row">
      <div *ngFor="let permission of permissions; trackBy: trackByPermissionFn" class="project col-2">
        <div class="card">
          <img class="card-img-top img-thumbnail" *ngIf="permission.project.thumbnailBase64Encoding" src="{{permission.project.thumbnailBase64Encoding}}" alt="Project thumbnail">
          <img class="card-img-top img-thumbnail" *ngIf="!permission.project.thumbnailBase64Encoding" src="assets/images/empty_thumbnail.png" alt="Project thumbnail">
          <app-state [state]="permission.state"></app-state>
          <div class="card-body">
              <a [routerLink]="['/project', permission.project.id]">{{permission.project.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
