<div class="container">
    <div class="row header">
        <div class="col-md-2">
            <img src="assets/svgdrawing/drawing.png" width="160" height="80" />
        </div>
        <div class="col-md-10">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 tools nopadding">
                <div class="panel panel-default">
                    <div id="shapes">
                        <div class="panel-body">
                            <div class="row nopadding">
                                <button (click)="selectShape('Line')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/line.png" width="24" height="24"></button>
                                <button (click)="selectShape('Rectangle')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/rectangle.png" width="24" height="24"></button>
                                <button (click)="selectShape('Circle')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/circle.png" width="24" height="24"></button>
                                <button (click)="selectShape('Ellipse')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/ellipse.png" width="24" height="24"></button>
                                <button (click)="selectShape('Freehand')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/path.png" width="24" height="24"></button>
                                <button (click)="selectShape('Square')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/square.png" width="24" height="24"></button>
                                <button (click)="selectShape('TextBox')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/text.png" width="24" height="24"></button>
                                <button (click)="selectShape('Image')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/image.png" width="24" height="24"></button>
                                <button (click)="selectShape('PolyLine')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/polyline.png" width="24" height="24"></button>
                            </div>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <div class="row nopadding">
                                <button (click)="selectTool('Pointer')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/pointer.png" width="24" height="24"></button>
                              <button (click)="selectTool('Move')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                src="assets/svgdrawing/move.png" width="24" height="24"></button>
                                <button (click)="selectTool('SelectArea')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/svgdrawing/select-area.png" width="24" height="24"></button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 toolbar">
            <div class="row">
                <div class="col-md-6">
                    <p>Selected Shape : {{ this.shapeValue }}</p>
                </div>
                <div class="col-md-6">
                    <button (click)="clearShapes()" type="button" class="btn btn-light">Clear</button>
                </div>
            </div>
          <app-svgcanvas #svgCanvas [width]="800" [height]="600"></app-svgcanvas>
        </div>
    </div>
</div>
