<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="startup">MuRET</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="startup">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="about">About</a>

      <!--<a [hidden]="!authenticated()" (click)="logout()">Logout</a>
      <a [hidden]="authenticated()"> (click)="login()">Login</a>-->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [hidden]="authenticated()" routerLinkActive="active" routerLink="login">Login</a>
      <a class="nav-item nav-link" [hidden]="!authenticated()" routerLinkActive="active" routerLink="login">Logout</a>
      <!--<a class="nav-item nav-link" [hidden]="!authenticated()" (click)="logout()">User {{username}} logout</a>
      <a class="nav-item nav-link" [hidden]="authenticated()" href="/muret/login">Login</a>-->

      <a class="nav-item nav-link" href="https://github.com/davidrizo/im3" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
