<div class="row" id="startup">
  <div class="col-4 offset-4">
    <div class="row">
      <div class="col" id="startuplogo">
        <img src="assets/images/muret_negativo.png" alt="Logo">
      </div>
    </div>
    <div class="row" id="startupbuttons">
      <div class="col-6">
        <a routerLinkActive="active" routerLink="/newproject">
          <img src="assets/images/start_newproject.png" alt="New Project">
        </a>
      </div>
      <div class="col-6">
        <a routerLinkActive="active" routerLink="/projects">
          <img src="assets/images/start_openproject.png" alt="Open Project">
        </a>
      </div>
    </div>
  </div>
</div>


