#toolbar {
  background-color: #7DE2DB;
  height: 100vh; /* TODO */
}

#staff > div {
  background-color: white;
}


#manuscriptImage {
  max-height: 80vh;
  overflow: auto;
}

#manuscriptImage img {
}

#canvas {
  position: absolute;
  top: 0px;
  width: 100%;
}

#selectedStaff {
  position: relative;
}
#noStaffSelectedMessage {
  position: absolute;
  z-index: 100;
  top: 50px; /* TODO */
  left: 50%;
}
