<div class="row" (resized)="onResized($event)" xmlns:svg="">
  <div class="col-2" id="toolbar">

    <div class="btn-group-vertical btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedTool" (ngModelChange)="onToolChange($event)">
    <ngb-accordion [closeOthers]="true" activeIds="documentAnalysisMode">
      <ngb-panel id="documentAnalysisMode" title="Document analysis">
        <ng-template ngbPanelContent>
          <ngb-accordion [closeOthers]="true" activeIds="daManual">
            <ngb-panel id="daManual" title="Manual">
              <ng-template ngbPanelContent>
                  <label ngbButtonLabel class="btn-light" (click)="clearDocumentAnalysis()">
                    Clear
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="101"> Select
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" value="102"> Split pages
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" value="103"> Split regions
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" value="104"> Draw pages
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" value="105"> Draw regions
                  </label>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="daAutomatic" title="Automatic">
              <ng-template ngbPanelContent>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="110"> Pages
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="111"> Regions in pages
                  </label>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="symbolsMode" title="Symbols">
        <ng-template ngbPanelContent>
          <ngb-accordion [closeOthers]="true" activeIds="symbolsManual">
            <ngb-panel id="symbolsManual" title="Manual">
              <ng-template ngbPanelContent>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="200"> Select
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="201"> Bounding boxes
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="202"> Strokes
                  </label>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="symmbolsAutomatic" title="Automatic">
              <ng-template ngbPanelContent>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="210"> Image end to end
                  </label>
                  <label ngbButtonLabel class="btn-light">
                    <input ngbButton type="radio" [value]="211"> Staff end to end
                  </label>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="diplomatic" title="Diplomatic">
        <ng-template ngbPanelContent>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
 </div>

  <!-------------- CONTENT ------------------>
  <div class="col-10">
    <div class="row" id="selectedStaff" [hidden]="!inSymbolsToolMode" >
      <div class="col">
           <!-- This inner div is used to avoid problems with padding -->
           <div #selectedStaffSurface
           [style.height.px]="selectedStaffHeight"
           [ngStyle]="{'background-image':' url(' + selectedStaffImageURL + ')'}"
           [style.background-position-x.px]="selectedStaffImageBackgroundPositionX"
           [style.background-position-y.px]="selectedStaffImageBackgroundPositionY"
           [style.background-size.%]="selectedStaffImageBackgroundPertentage"
          >
         </div>
      </div>
      <p id="noStaffSelectedMessage" [hidden]="staffSelected">Select a staff...</p>
    </div>

    <div class="row" id="agnostic" [hidden]="!inSymbolsToolMode">
      <div class="col" id="staff" [style.height.px]="agnosticStaffHeight">
        <!-- This inner div is used to avoid problems with padding -->
        <svg [attr.viewBox]="'0 0 ' + agnosticStaffWidth + ' ' + agnosticStaffHeight"
             preserveAspectRatio="xMidYMid meet">
          <rect width="100%" height="100%" fill="white"/>
          <g>
              <line stroke="black" *ngFor="let staffLineYCoordinate of staffLineYCoordinates"
                    [attr.x1]="0" [attr.y1]="staffLineYCoordinate"
                    [attr.x2]="domImageWidth"  [attr.y2]="staffLineYCoordinate"/>
          </g>
          <g>
            <!--<app-image-thumbnail *ngFor="let image of project.images" [image]="image" [projectURLs]="projectURLs" [attr.data-id]="image.id"></app-image-thumbnail>-->
            <path *ngFor="let agnosticSymbolSVG of agnosticSymbolSVGs" [attr.d]="agnosticSymbolSVG.d"
                  stroke="black" fill="black" stroke="black"
                  [attr.transform]="'translate(' + agnosticSymbolSVG.x + ',' + agnosticSymbolSVG.y
                  + ') scale(' + agnosticSVGScaleX + ', ' + agnosticSVGScaleY + ')'"
            />
          </g>
        </svg>
      </div>
    </div>

    <div class="row" id="manuscriptImage">
      <div class="col">
        <img #domImage class="img-fluid" (load)="onImageLoad()" src="{{imageURL}}" alt="Image">
        <div id="canvas" #imageSurface
             [style.left]="domImagePaddingLeft" [style.height.px]="domImageHeight" [style.width.px]="domImageWidth"
             [style.cursor]="canvasCursor"
             (mousedown)="onImageMouseDown($event)" (mousemove)="onImageMouseMove($event)"
        >
        </div>
      </div>
    </div>
  </div>
</div>


