<div class="row" (resized)="onResized($event)" xmlns:svg="">
  <div class="col-1" id="toolbar">
    TO-DO
  </div>

  <div class="col-10">
    <div class="row" id="selectedStaff">
      <div class="col">
           <!-- This inner div is used to avoid problems with padding -->
           <div #selectedStaffSurface
           [style.height.px]="selectedStaffHeight"
           [ngStyle]="{'background-image':' url(' + selectedStaffImageURL + ')'}"
           [style.background-position-x.px]="selectedStaffImageBackgroundPositionX"
           [style.background-position-y.px]="selectedStaffImageBackgroundPositionY"
           [style.background-size.%]="selectedStaffImageBackgroundPertentage"
          >
         </div>
      </div>
      <p id="noStaffSelectedMessage" [hidden]="staffSelected">Select a staff...</p>
    </div>

    <div class="row" id="agnostic">
      <div class="col" id="staff" [style.height.px]="agnosticStaffHeight">
        <!-- This inner div is used to avoid problems with padding -->
        <svg [attr.viewBox]="'0 0 ' + agnosticStaffWidth + ' ' + agnosticStaffHeight"
             preserveAspectRatio="xMidYMid meet">
          <rect width="100%" height="100%" fill="white"/>
          <g>
              <line stroke="black" *ngFor="let staffLineYCoordinate of staffLineYCoordinates"
                    [attr.x1]="0" [attr.y1]="staffLineYCoordinate"
                    [attr.x2]="domImageWidth"  [attr.y2]="staffLineYCoordinate"/>
          </g>
          <g>
            <!--<app-image-thumbnail *ngFor="let image of project.images" [image]="image" [projectURLs]="projectURLs" [attr.data-id]="image.id"></app-image-thumbnail>-->
            <path *ngFor="let agnosticSymbolSVG of agnosticSymbolSVGs" [attr.d]="agnosticSymbolSVG.d"
                  stroke="black" fill="black" stroke="black"
                  [attr.transform]="'translate(' + agnosticSymbolSVG.x + ',' + agnosticSymbolSVG.y
                  + ') scale(' + agnosticSVGScaleX + ', ' + agnosticSVGScaleY + ')'"
            />
          </g>
        </svg>
      </div>
    </div>

    <div class="row" id="manuscriptImage">
      <div class="col">
        <img #domImage class="img-fluid" (load)="onImageLoad()" src="{{imageURL}}" alt="Image">
        <div id="canvas" #imageSurface [style.left]="domImagePaddingLeft" [style.height.px]="domImageHeight" [style.width.px]="domImageWidth"></div>
      </div>
    </div>
  </div>
</div>


