<div class="row" id="login">
  <div class="offset-4 col">
    <h2>LOGIN</h2>
    <p>{{message}}</p>

    <div *ngIf="!isLoggedIn()">
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label>Username</label>
          <input type="text"
                 name="username" [(ngModel)]="model.username"
                 #username="ngModel" required />
          <div *ngIf="f.submitted
              && !username.valid">Username is required</div>
        </div>
        <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label>Password</label>
          <input type="password"
                 name="password" [(ngModel)]="model.password"
                 #password="ngModel" required />
          <div *ngIf="f.submitted
              && !password.valid">Password is required</div>
        </div>
        <div class="offset-1">
          <button class="btn btn-primary" [disabled]="loading">Login</button>
        </div>
      </form>
    </div>

    <div *ngIf="isLoggedIn()">
      Logged in ...
      <button class="btn btn-primary" (click)="logout()" >Logout</button>
    </div>
  </div>
</div>
<!--<p>
  <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>-->
