.jumbotron {
  background-color: transparent;
}

.jumbotron img {
  width: 50%;
  margin-bottom: 2vh;
}

.jumbotron p {
  text-align: center;
}

#logos p {
  text-align: center;
}
#logos img {
  width: 80%;
}

footer{
  font-size: 10px;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

footer p {
  text-align: right;
}

#cite {
  margin-bottom: 5em;
  color: white;
}
