<div class="jumbotron">
  <p><img src="assets/images/muret_negativo.png" alt="Logo MuRET"></p>
  <p>Music Recognition, encoding, and transcription</p>
</div>
<div class="row" id="cite">
  <div class="offset-3 col-7">
    <h3>Cite as:</h3>
    <p>
      Rizo, D.; Calvo-Zaragoza, J.; Iñesta, J.M.<br/>
      <strong>"MuRET: a music recognition, encoding, and transcription tool"</strong><br/>
      Proceedings of the 5th International Conference on Digital Libraries for Musicology (DLfM'18), ISBN: 978-1-4503-6522-2, pp. 52--56, París, France (2018)
    </p>
  </div>
</div>
<div class="row" id="logos">
  <div class="col-4">
    <p><img src="assets/images/uacolor.jpg" alt="Logo UA"></p>
  </div>
  <div class="col-4">
    <p><img src="assets/images/hispamus_negativo_sin_fondo.png" alt="Logo MuRET"></p>
  </div>
  <div class="col-4">
    <p><img src="assets/images/economiac.jpg" alt="Logo MuRET"></p>
  </div>
</div>
<footer>
  <p><a href="mailto:drizo [@] dlsi.ua.es ">©2018 Development: David Rizo</a></p>
  <p><a href="mailto:drizo [@] dlsi.ua.es ">©2018 Backend classifiers: Jorge Calvo-Zaragoza</a></p>
  <p><a href="mailto:lvf.lauravasallo [@] gmail.com">©2018 Visual Design: Laura Vasallo</a></p>
</footer>

