<div class="jumbotron">
  <p><img src="assets/images/muret_negativo.png" alt="Logo MuRET"></p>
  <p>Music Recognition, encoding, and transcription</p>
</div>
<div class="row" id="logos">
  <div class="col-4">
    <p><img src="assets/images/uacolor.jpg" alt="Logo UA"></p>
  </div>
  <div class="col-4">
    <p><img src="assets/images/hispamus_negativo_sin_fondo.png" alt="Logo MuRET"></p>
  </div>
  <div class="col-4">
    <p><img src="assets/images/economiac.jpg" alt="Logo MuRET"></p>
  </div>
</div>
<footer>
  <p>@2018 David Rizo Valero</p>
  <p><a href="mailto:drizo [@] dlsi.ua.es ">drizo [at] dlsi.ua.es</a></p>
  <p>@ Design by Laura Vasallo</p>
  <p><a href="mailto:lvf.lauravasallo [@] gmail.com">lvf.lauravasallo [@] gmail.com</a></p>
</footer>

