<div class="row">
  <div class="col-7 offset-1">
    <h2>{{project?.name}}</h2>
    <p>TO-DO Autor/compositor</p>
    <p>{{projectStatistics?.images}} images, {{projectStatistics?.pages}} pages, {{projectStatistics?.regions}} regions, {{projectStatistics?.agnosticSymbols}} symbols </p>
  </div>

  <div class="col-1">
    <a (click)="uploadImages()">
      Upload images
    </a>
  </div>
  <div class="col-3">
    <img src="assets/images/orderimages.png" alt="Order images"/>
  </div>
</div>

<div class="row">
  <div class="offset-1 col-10">
    <div *ngIf="project; let project; else loading" dragula="DRAGULA_FACTS" #domImages>
      <app-image-thumbnail *ngFor="let image of project.images" [image]="image" [projectURLs]="projectURLs" [attr.data-id]="image.id"></app-image-thumbnail>

      <!--<div *ngFor="let image of project.images" class="projectImage">-->
        <!--<p><img class="img-thumbnail" src="{{projectURLs.thumbnails}}/{{image.filename}}" alt="Image"></p>
        <a href="{{projectURLs.previews}}/{{image.filename}}" target="_blank">Preview</a>
        &nbsp;&nbsp;&nbsp;
        <a href="image/{{image.id}}">Open</a>
      </div>-->
    </div>
    <ng-template #loading>Loading project...</ng-template>
  </div>
</div>
