<div class="row" xmlns:svg="">
  <div class="col-2">
    <app-image-tool-bar></app-image-tool-bar>
  </div>

  <!-------------- CONTENT ------------------>
  <div class="col-10">
    <div class="row" id="selectedStaff">
      <div class="col">
        <!-- This inner div is used to avoid problems with padding -->
        <div #selectedStaffInnerDIV
             [style.height.px]="selectedStaffHeight"
             [ngStyle]="{'background-image':' url(' + selectedStaffImageURL + ')'}"
             [style.background-position-x.px]="selectedStaffImageBackgroundPositionX"
             [style.background-position-y.px]="selectedStaffImageBackgroundPositionY"
             [style.background-size.%]="selectedStaffImageBackgroundPertentage"
             [style.cursor]="selectedStaffCursor"
        >
          <app-svgcanvas #svgCanvas [width]="selectedStaffImageWidth" [height]="selectedStaffHeight"
            (svgShapeCreated)="onShapeCreated($event)" (svgShapeSelected)="onShapeSelected($event)"
          >

          </app-svgcanvas>
        </div>
      </div>
      <p id="noStaffSelectedMessage" [hidden]="staffSelected">Select a staff...</p>
    </div>

    <div class="row" id="agnostic">
      <div class="col" id="staff" [style.height.px]="agnosticStaffHeight">
        <!-- This inner div is used to avoid problems with padding -->
        <svg [attr.viewBox]="'0 0 ' + agnosticStaffWidth + ' ' + agnosticStaffHeight"
             preserveAspectRatio="xMidYMid meet">
          <rect width="100%" height="100%" fill="white"/>
          <g>
            <line stroke="black" *ngFor="let staffLineYCoordinate of staffLineYCoordinates"
                  [attr.x1]="0" [attr.y1]="staffLineYCoordinate"
                  stroke-width="2"
                  [attr.x2]="selectedStaffImageWidth"  [attr.y2]="staffLineYCoordinate"/>
          </g>
          <g>
            <!--<app-image-thumbnail *ngFor="let image of project.images" [image]="image" [projectURLs]="projectURLs" [attr.data-id]="image.id"></app-image-thumbnail>-->
            <path *ngFor="let agnosticSymbolSVGKeyValue of agnosticSymbolSVGs | keyvalue; trackBy: trackByFn"
                  [attr.d]="agnosticSymbolSVGKeyValue.value.d"
                  [attr.stroke]="getAgnosticStaffSymbolColor(agnosticSymbolSVGKeyValue.key)"
                  [attr.fill]="getAgnosticStaffSymbolColor(agnosticSymbolSVGKeyValue.key)"
                  [attr.transform]="'translate(' + agnosticSymbolSVGKeyValue.value.x
                  + ',' + agnosticSymbolSVGKeyValue.value.y
                  + ') scale(' + agnosticSVGScaleX + ', ' + agnosticSVGScaleY + ')'"
                  (click)="onAgnosticStaffSymbolSelected(agnosticSymbolSVGKeyValue.key)"
            />
          </g>
        </svg>
      </div>
    </div>

    <!-- tool bar to correct the agnostic transcription -->
    <!--          {{item.key}}:{{item.value}} -->
    <div class="row" id="agnosticToolbar">
      <div class="col">
        <div class="btn-toolbar" role="toolbar" aria-label="Agnostic toolbar" id="agnosticToolbarEditButtons">
          <div class="btn-group mr-2" role="group" aria-label="Symbol edition">
            <button type="button" class="btn btn-primary" title="Move pitch down"  (click)="movePitchDownSelectedSymbol()">
              <i class="fa fa-angle-down"></i>
            </button>
            <button type="button" class="btn btn-primary" title="Move pitch up" (click)="movePitchUpSelectedSymbol()">
              <i class="fa fa-angle-up"></i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-primary" title="Delete" (click)="deleteSelectedSymbol()">
              <i class="fa fa-trash"></i>
            </button>
            &nbsp;
            <input id="showSymbolStrokesCheckBox"
                       type="checkbox" [checked]="showSymbolStrokes"/> Show strokes
          </div>

          <div class="btn-group-justified" role="group" aria-label="Agnostic symbols" id="agnosticToolbarSymbols">
            <button *ngFor="let item of agnosticSymbolSVGMap | keyvalue; trackBy: trackByFn" type="button" class="btn btn-secondary"
                    (click)="changeAgnosticType(item.key)">
              <svg width="60" height="60" viewBox="0 -2048 2048 4096"> <!-- TODO Valores de la escala, 2048 es el valor unitsPerEM de la fuente SVG -->
                <path stroke="black" fill="black" [attr.d]="item.value" [attr.transform]="'scale(1, -1)'"/>
              </svg><br>
              {{item.key}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- image with regions drawn to be selected -->
    <div class="row" id="manuscriptImage">
      <div class="col">
        <app-document-analysis-view #appDocumentAnalysisView (mouseEvent)="onMouseEvent($event)" (svgShapeSelected)="onRegionSelected($event)"></app-document-analysis-view>
      </div>
    </div>
  </div>
</div>


