#staff > div {
  background-color: white;
}

#staff {
  min-height: 100px;
}

#selectedStaff {
  position: relative;
}
#noStaffSelectedMessage {
  position: absolute;
  z-index: 100;
  top: 50px; /* TODO */
  left: 50%;
}


#agnosticToolbarEditButtons {
  font-size: 18px;
}

#agnosticToolbarSymbols button {
  font-size: 10px;
}

#agnosticToolbar input[type=checkbox] {
  width: 25px;
  height: 25px;
  -moz-appearance: none;
}
