<div id="documentAnalysisTools" class="btn-group-justified" role="group" aria-label="Region types">
  <input type="checkbox" [checked]="showLabels" disabled/> Show labels

  <button *ngFor="let regionType of regionTypes; trackBy: trackByRegionTypeFn" type="button" class="btn btn-secondary"
          (click)="changeRegionType(regionType)">
    {{regionType.name}}
  </button>
</div>

<div id="documentAnalysis">
  <img #domImage class="img-fluid" (load)="onImageLoad()" src="{{imageURL}}" alt="Image">
  <div id="documentAnalysisCanvas"
     [style.left]="domImagePaddingLeft" [style.width.px]="domImageWidth" [style.height.px]="domImageHeight"
     [style.cursor]="canvasCursor"
  >
    <app-svgcanvas #svgCanvas [width]="domImageWidth" [height]="domImageHeight"
                 (svgMouseEvent)="onMouseEvent($event)"
                 (svgShapeCreated)="onShapeCreated($event)"
                 (svgShapeChanged)="onShapeChanged($event)"
                 (svgShapeSelected)="onShapeSelected($event)"
                   (svgShapeDeselected)="onShapeDeselected($event)"
    ></app-svgcanvas>
  </div>
</div>
