<form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <p>
        <label>Project name <input type="text" formControlName="name" size="128"> (required)</label>
      </p>
      <p>
        <label>Composer <input type="text" formControlName="composer" size="128"></label>
      </p>
      <p>
        <input type="radio" name="notationType" formControlName="notationType" value="eMensural" checked>Mensural &nbsp;
        <input type="radio" name="notationType" formControlName="notationType" value="eModern">Modern &nbsp; (required)
      </p>
      <p>
        <input type="radio" name="manuscriptType" formControlName="manuscriptType" value="eHandwritten" checked>Handwritten &nbsp;
        <input type="radio" name="manuscriptType" formControlName="manuscriptType" value="ePrinted">Printed&nbsp; (required)
      </p>
      <p>
        <label>Comments <input type="text" formControlName="comments"></label>
      </p>
    </div>
    <div *ngIf="imgSrc" class="col-6">
      <h5>Preview</h5>
      <img class="img-fluid" [src]="imgSrc">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Upload poster image (use mouse scroll to zoom)</label>
      <ngx-img (onSelect)="onSelect($event)" (onReset)="onReset()" [config]="{ fileSize: 10000, height: 200, crop: [ { minWidth: 200, maxWidth: 200, ratio: 1 } ] }"></ngx-img>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" [disabled]="!newProjectForm.valid">Submit</button>
    </div>
  </div>

</form>
